:root {
  --font-thicker: 600;
  --transition-1: 0.5s;
  --color-1: darkmagenta;
  --color-2: rebeccapurple;
  --select-color: magenta;
  --divContainerPrintSize: 400px;
  font-family: sans-serif;
  color: var(--color-2);
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 10px 0 5px 0;
}

#containerContainer {
  /* border: 1px dotted lightseagreen; */
  padding: 0 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
}

#divContainer {
  box-sizing: content-box;
  border: 4px solid var(--color-1);
  background-color: var(--color-1);
  transition: var(--transition-1);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}

#mobileMenuDiv {
  background-color: white;
  transition: 0.5s;
}

/*styles the mobile menu for mobile screens*/
.mobileMenuMobile {
  width: 100vw;
  position: absolute;
  left: 0;
  padding: 0 5%;
  top: 0;
}

.hiddenByMove {
  top: -100%;
}

.hiddenByDisplay {
  display: none;
}

#mobileMenuBtn {
  background-color: green;
  /* border-radius: 5px; */
  margin: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.contentContainer:nth-child(2) {
  width: min(350px, 95%);
}

.contentContainer:nth-child(2) p:nth-child(2) {
  font-weight: var(--font-thicker);
}

.contentContainer:nth-child(3) {
  width: 100%;
}

p {
  margin-bottom: 20px;
}

fieldset {
  padding: 5px;
  border-color: var(--color-1);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 5px;

  &:nth-of-type(2) {
    margin-top: 20px;
  }

  & li {
    list-style-type: none;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 5px;
    transition: var(--transition-1);

    &:hover {
      background-color: var(--color-2);
      color: white;
    }
  }
}

legend {
  color: white;
  background-color: var(--color-1);
  padding: 6px;
  font-size: 1rem;
  font-weight: var(--font-thicker);
  width: 80%;
  border: 8px solid white;
  border-radius: 15px;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: white;
  border: 2px solid var(--color-1);
  border-radius: 2rem;
  transition: var(--transition-1);

  &:hover {
    background-color: var(--color-1);
    color: white;
  }
}

#resetBtn {
  width: 250px;
  font-weight: var(--font-thicker);
  display: block;
  margin: 30px auto 10px auto;
  height: 2rem;
}

#smallBtnContainer {
  width: 100%;
}

.inlineBtn {
  display: inline-block;
  margin: 0;
  width: 30%;
}

.deactivatedBtn {
  border-color: gray;
  color: gray;
  background-color: lightgray;

  &:hover {
    border-color: gray;
    color: gray;
    background-color: lightgray;
  }
}

#hslValue {
  margin: 10px auto 20px auto;
  width: 390px;
}

.noMouseoverModeMarker {
  border-color: var(--select-color) !important;
  box-shadow: 0 0 3px 2px var(--select-color);
  background-color: var(--color-1);
  color: white;
}

.selectModeDivMarker {
  border: 3px solid aqua;
}

@media screen and (max-width: 374px) {
  h1 {
    margin-top: 30px;
  }
}

@media print {
  .contentContainer:nth-child(2),
  #mobileMenuBtn {
    display: none;
  }

  p:last-of-type {
    margin-top: 25px;
  }
}
