html {
  --divHeight: 50px;
  --divWidth: 50px;
  font-family: sans-serif;
  color: darkorchid;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 5px;
  text-align: center;
}

#container {
  width: 408px;
  margin: 10px auto;
  border: 4px solid darkmagenta;
  display: flex;
  flex-wrap: wrap;
}

#container div {
  height: var(--divHeight);
  width: var(--divWidth);
  background-color: white;
  border: 2px dotted black;
}

fieldset {
  padding: 5px;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  border-color: darkmagenta;
  border-radius: 10px;
}

fieldset div {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

p {
  text-align: center;
}
legend {
  color: white;
  background-color: darkmagenta;
  padding: 6px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
}

label:hover {
  background-color: red;
}

input:hover {
  background-color: red;
}

li:hover {
  background-color: green;
}
button {
  color: inherit;
  width: 350px;
  font-size: inherit;
  font-weight: 600;
  display: block;
  margin: 20px auto;
  height: 2rem;
  background-color: white;
  border: 2px solid darkmagenta;
  border-radius: 2rem;
  transition: 0.5s;
}

button:hover {
  background-color: darkmagenta;
  color: white;
  box-shadow: inset 0 0 10px #fff;
  box-shadow: 0 0 20px 5px purple;
}
